@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$ff-text: 'Lato', sans-serif;;
$ff-title: 'Montserrat', sans-serif;
$clr-bg-dk: #023e8a;
$clr-bg-blck: #2b2d42;
$clr-prim: #3f37c9;

$clr-accept: #90be6d;
$clr-decline: #f94144;
$clr-edit: #f8961e;