@import "variables", "mixins";


.generalInfo-container {
  @include flexCenter(column);
  align-items: flex-start;
  width: 80%;
  padding: .5em 2em;
}

.generalInfo-form {
  @include flexCenter(column);
  padding: 1rem 0;
  width: 100%;
  row-gap: 1rem;
}

