@import "variables", "mixins";

.itemEntry-container {
  @include flexCenter;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 2rem;
  width: 100%;

  .input-container {
    @include flexCenter(column);
    align-items: flex-start;
    flex: 1;
    row-gap: .5rem;
    width: 100%;
    input {
      width: 100%;
    }
  }

  .date-container {
    @include flexCenter;
    justify-content: space-between;
    margin-top: 0.35rem;
    width: 42%;
    column-gap: 0.5rem;
    position: relative;
    font-family: $ff-text;

    .removeBtn {
      font-size: 1.2rem;
      border: none;
      position: absolute;
      background-color: transparent;
      left: -23%;
      color: $clr-bg-blck;
      cursor: pointer;

      &:hover {
        color: $clr-decline;
      }
    }

  }
}
