@import "./styles/mixins", "./styles/variables";

#root {
  height: 100%;
}

.App {
  @include flexCenter(column);
  
  main {
    @include flexCenter(column);
    margin: .5rem 0;
    padding: 2rem;
    width: 50%;
    justify-content: flex-start;
    border: 2px solid $clr-bg-blck;
    height: 100%;
  }
}