@import "./styles/mixins", "./styles/variables";

#root {
  height: 100%;
}

.App {
  @include flexCenter(column);
  height: 100%;
  
  main {
    @include flexCenter(column);
    padding: 2rem;
    width: 50%;
    justify-content: flex-start;
    border: 1px solid red;
    height: 100%;
  }
}